$background: #09090B;
$base-color: #FAFAFA;
$primary-color: #64748B;
$secondary-color: #334155;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: $secondary-color;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;

    &:hover, &.active {
        color: $primary-color;
    }
}

#root {
    display: flex;
    color: #fff;
    background: $background;
    height: 100vh;
    font-family: 'Consolas';

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: fit-content;
        height: 100vh;
        padding-inline: 4rem;
        border-right: 2px solid hsl(240 3.7% 15.9% / .5);

        * {
            font-weight: 600;
            font-size: 1.875rem;
            text-wrap: nowrap;
        }

        .title {
            h1 {
                font-size: 3.75rem;
                line-height: 1;
            }
        
            .job {
                color: $primary-color;
            }

            .location {
                color: $secondary-color;
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .socials {
            a {
                display: flex;
                align-items: center;
                gap: .8rem;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;
        max-height: 100vh;
        overflow-y: auto;
        padding-inline: 4rem;

        section {
            padding-top: 4rem;

            &:last-child {
                padding-bottom: 4rem;
            }
        }
    }
}

::-webkit-scrollbar {
    display: none;
}